<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="lib/store2/dist/store2.min.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
    <ion-pane ng-controller="Main">
      <div class="bar bar-header bar-royal">
        <button class="button button-icon icon ion-navicon"></button>
        <div class="h1 title">Discovery Preferences</div>
        <button class="button button-clear icon ion-android-checkmark-circle" ng-click="save()"></button>
      </div>
      <ion-content class="has-header">
        <div class="list">
          <div class="item item-divider">I am</div>
          <div class="item button-bar">
            <ion-radio ng-value="&apos;male&apos;" ng-model="model.gender" style="width:50%">Male</ion-radio>
            <ion-radio ng-value="&apos;female&apos;" ng-model="model.gender" style="width:50%">Female</ion-radio>
          </div>
          <div class="item item-divider">Search Distance</div>
          <div class="item range">
            <input type="range" ng-model="model.distance" min="0" max="100">
          </div>
          <div class="item item-divider">
              Show Age <span style="float: right;">18-{{ model.age }}</span>
          </div>
          <div class="item range">
            <input type="range" ng-model="model.age" min="19" max="60">
          </div>
          <div class="item item-divider">I am interested in</div>
          <div class="item item-toggle">
            Men
             <label class="toggle toggle-royal">
               <input type="checkbox" ng-model="model.men">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </div>
          <div class="item item-toggle">
            Women
             <label class="toggle toggle-royal">
               <input type="checkbox" ng-model="model.women">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </div>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
